fastapi==0.111.1
uvicorn[standard]==0.30.3
pydantic==2.8.2
pydantic-settings==2.4.0
sqlalchemy==2.0.31
alembic==1.13.2
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose[cryptography]==3.3.0
email-validator==2.2.0
psycopg[binary]==3.2.1
prometheus-client==0.20.0
python-json-logger==2.0.7
